@import url(https://db.onlinewebfonts.com/c/770a5bfb6b487b54a8beca70ec4a4f66?family=Nyte);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1{ 
    font-size: 45px;
    position: absolute;
    height: 25px; width: 210px;
    font-family: Nyte;
    margin-block-start: 0cm;
}
h2{
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 3px;
}
h3{
    font-size: 13px; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 3px;

}
.first{
    padding-top: 8%;
}
.img{ 
    padding-left: 16%; 
    padding-top: 14.5px;
    position: absolute; 
    width: 1099px; height: 446;
    z-index: -1;
}
.text{
    padding-top: 3px;
}
body{
    padding-left: 13px;
}
a:link{
    color: black;
    text-decoration:none;
}
a{
    color: black;
}